<div class="container">

	<h1>Recipe Share</h1>

	<p>Login</p>

	<form action="/login" method="POST">
		<ul>
			<li><input id="user_email" type="text" name="user[email]" placeholder="Email"/></li>
			<li><input id="user_password" type="password" name="user[password]" placeholder="Password"/></li>
			<li><input type="submit" value="Login"></li>
		</ul>
	</form>

		<p><a href="/users/">Create a new account</a></p>

</div>