<div class="container">

	<h1>Recipe Share</h1>

	<p>Create an account</p>

	<form action="/login" method="POST">
		<ul>
			<li><input id="user_firstname" type="text" name="user[first_name]" placeholder="First name"/></li>
			<li><input id="user_lastname" type="text" name="user[last_name]" placeholder="Last name"/></li>
			<li><input id="user_email" type="text" name="user[email]" placeholder="Email"/></li>
			<li><input id="user_password" type="password" name="user[password]" placeholder="Password"/></li>
			<li><input type="submit" value="Create Account"></li>
		</ul>
	</form>


</div>