<nav class="welcome-nav">

  <ul>
  		
  		<li id="login"><%= link_to "Login", login_path %></li>
      <!-- Show log in form on click -->
    	<div class="login_form">
      	<%=render "form"%>
			</div>
			<li><%=link_to "Sign Up", new_user_path%></li>
  </ul>

</nav>

<div class="welcome-header">
	<div class="transbox">
		<h1> Recipe Share </h1>
		<h3>A simple way to share your food</h3>
	</div>
</div>
