@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

/* Universal */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (min-width: 979px) {
  body {
  }
}



/*Nav Bar */

 .nav-options li {
    display: inline;
    padding: 10px;
    border: 1px solid black;
 }

 .nav-options {
  text-align: center;
 }


/*Temporary container */
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
  text-align: center;
}

input[type="text"], input[type="password"] {
  margin-bottom: 2%;
}

a:hover {
  color: red;
}

p {
  text-align: center;
  padding-left: 40px;
}
