// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
  text-align: center;
}

li {
  list-style: none;
}

input[type="text"], input[type="password"] {
  margin-bottom: 2%;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

p {
	text-align: center;
  padding-left: 40px;
}